
<ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" (click)="goTo('landing')">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="newsFeed" (click)="goTo('newsFeed')">
      <ion-label>News Feed</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="goTo('profile')">
      <ion-label>Profile</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

