$color-primary: #126092;
$color-white: #fff;
$icon-size: 24px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
$margin-extraLarge: 30px;

.app-logo {
  margin-top: $margin-extraLarge;
}
.login-form {
  margin-top: 40px;
}
.login-btn {
  margin-top: $margin-extraLarge;
  width: 100%;
  padding: 14px 0;
  border-radius: 20px;
  background: $color-primary;
  color: $color-white;
  font-size: 16px;
}
.keep-me-login-holder {
  margin-top: $margin-medium;
  border-bottom: none;
}
.forgot-password {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: $color-primary;
}
.social-login-btn {
  padding: 10px;
  border-radius: 40px;
  width: 100%;
}
.facebook-login-btn {
  background: #3b5998;
}
.google-login-btn {
  background: #DD4B39;
}
.social-login-icon {
  font-size: 28px;
  color: $color-white;
}
.social-buttons {
  margin-top: $margin-medium;
}
.register-link {
  margin-top: 30px;
  font-size: 18px;
  color: $color-primary;
}
.correct-icon {
  font-size: 32px;
  color: #228b22;
}
.wrong-icon {
  font-size: 32px;
  color: #f00;
}

