<ion-content padding>
    <img class="app-logo" src="assets/imgs/logo2.png" />
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
            <ion-label floating>
                <ion-icon name="person" class="input-icon"></ion-icon>
            </ion-label>
            <ion-input text-lowercase type="email" formControlName="email" placeholder="Email"></ion-input>
            <ion-label floating *ngIf="loginForm.get('email').valid && loginForm.get('email').dirty">
                <ion-icon name="ios-checkmark" class="correct-icon"></ion-icon>
            </ion-label>
            <ion-label floating *ngIf="loginForm.get('email').invalid">
                <ion-icon name="ios-close" class="wrong-icon"></ion-icon>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="switchPasswordMode()">
                <ion-icon name="lock" class="input-icon"></ion-icon>
            </ion-label>
            <ion-input  #password text-lowercase type="password" formControlName="password" placeholder="Password"></ion-input>
            <ion-label floating (click)="switchPasswordMode()">
                <ion-icon *ngIf="passwordMode === 'password'" name="ios-eye-off" class="input-icon" ></ion-icon>
                <ion-icon *ngIf="passwordMode === 'text'" name="ios-eye" class="input-icon"></ion-icon>            
            </ion-label>
        </ion-item>
        <button ion-button class="login-btn" type="submit">Login</button>
        <ion-item no-lines class="keep-me-login-holder">
            <ion-checkbox class="keep-me-login-box" formControlName="keepMeLogin"></ion-checkbox>
            <ion-label class="font-primary">Keep me logged in</ion-label>
        </ion-item>
        <div text-center class="forgot-password" (click)="forgotPassword()">
            Forgot Password?
        </div>
        <ion-row class="social-buttons">
            <ion-col>
                <button ion-button icon-start class="social-login-btn facebook-login-btn" (click)="facebookLogin()">
                    <ion-icon name="logo-facebook" class="social-login-icon"></ion-icon>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start class="social-login-btn google-login-btn" (click)="googleLogin()">
                    <ion-icon name="logo-google" class="social-login-icon"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <div text-center class="register-link" (click)="registerNewUser()">
            New To {{appName}}? Register Here.
        </div>
    </form>
</ion-content>