<ion-content padding>
    <img src="assets/imgs/logo2.png"/>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <label class = "item item-input">
            <ion-icon name="person" class="left-icon"></ion-icon>
            <ion-input text-lowercase class="input-class" type="email" formControlName="email" placeholdar="email"></ion-input>
        </label>
        <label class = "item item-input">
            <ion-icon name="lock" class="left-icon"></ion-icon>
            <ion-icon name="ios-eye" class="right-icon" (mousedown)="showPassword()"></ion-icon>
            <ion-input class="input-class" type="password" formControlName="password" placeholdar="password"></ion-input>
            
        </label>
        <ion-button ion-item block outline type="submit">Login</ion-button>
        <ion-item class="keep-me-holder">
            <ion-label class="font-primary">Keep me logged in</ion-label>
            <ion-checkbox class="keep-me-login-box" [(ngModel)]="keepMeLogin"></ion-checkbox>
        </ion-item>
        <a ion-item text-center>Forgot Password?</a>
    </form>
</ion-content>