$color-primary: #126092;
$icon-size: 24px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 15px;

.login-form {
  margin-top: 60px;
}

::ng-deep .native-input {
  padding-left: 30px !important;
}

.native-input {
  padding-left: 30px !important;
}